html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f2f3f5;
}

body {
  margin: inherit;
}

a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素字体颜色 */
  cursor: pointer; /* 鼠标指针样式 */
}

a:hover {
  color: inherit; /* 鼠标悬停时字体颜色 */
  text-decoration: none; /* 鼠标悬停时下划线 */
  cursor: pointer; /* 鼠标指针样式 */
}

.box {
  background-color: #fff;
  box-shadow:  0 3px 5px 0 rgb(0 0 0 / 4%);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 10px;
}