* {
    padding: 0;
    margin: 0;
}
.main {
    font-size: 0;
    margin: 30px;
}
.prison {
    display: inline-block;
    background-color: #eee;
    border: solid 4px;
}
.block {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: solid 1px;
}
.control {
    margin-bottom: 20px;
}
.item {
    display: inline-block;
    margin-right: 10px;
}
.people {
    background: url('./svg/man.svg');
}
.wall {
    background-color: #000;
}
.out-door {
    background: url('./svg/enter.svg');
}
.door {
    background: url('./svg/lock.svg');
}
.key {
    background: url('./svg/key.svg');
}
.step {
    background: #FF6B6B;
}
.door-1 {
    background-color: #E91E63;
}
.key-1 {
    background-color: #E91E63;
}
.door-2 {
    background-color: #4CAF50;
}
.key-2 {
    background-color: #4CAF50;
}
.door-3 {
    background-color: #FFEB3B;
}
.key-3 {
    background-color: #FFEB3B;
}
.door-4 {
    background-color: #03A9F4;
}
.key-4 {
    background-color: #03A9F4;
}
.door-5 {
    background-color: #9E9E9E;
}
.key-5 {
    background-color: #9E9E9E;
}
